* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
/* 전체영역 */
.wrap {
  width: 1200px;
  margin: 0px auto;
}
/* 상단 */
.header {
  padding-left: 25px;
  padding: 20px 20px;
  width: 1200px;
  height: 163px;
  background-color: black;
}
/* 로고영역 */
.logomenu {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logomenu{
  display: flex;
}
.logo a {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
/* 메뉴영역 */
.menu {
  /* background-color: rgb(76, 77, 74); */
  width: 800px;
}
.offline{
  display: flex;
}
.menubar {
  justify-content: space-between;
  display: flex;
  width: 800px;
  text-align: center;
  margin-left: 0px;
}
.menubar a {
  color: white;
}
.menubar li {
  width: calc(100% /5);
}
.menubar .login{
  border: 1px solid white;
  border-radius: 3px;
}
/* .login {
  border: 1px solid white;
  border-radius: 5px;
  padding: 4px 6px;
} */
#search {
  margin-top: 15px;
  width: 1155px;
  height: 40px;
  border-radius: 5px;
}
.undermenu {
  width: 270px;
  background-color: rgb(0, 0, 0);
  
}
.undermenulist {
  justify-content: space-between;
  display: flex;
  padding-left: 0;
  gap: 20px;
  margin-top: 9px;
}
.undermenulist li a{
  color: rgb(226, 226, 226);
  font-size: 15px;
}
.main {
  /* background-color: antiquewhite; */
}
.main-wrap {
  /* background-color: rgb(0, 255, 255); */
  display: flex;
}
.mainimg img {
  width: 100%;
  display: block;
  transition: all 0.2s;
}
.mainimg {
  overflow: hidden;
}
.mainimg:hover img {
  transform: scale(1.1);
}
.mainimg {
  position: relative;
}
.mainimg .bannerimginfo {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.pdwrap {
  background-color: #f7f7f7;
  width: 1200px;
  padding: 20px;
}
.pdlistinfo {
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 30px 0px;
}
.plus {
  padding: 10px 10px;
  text-decoration: underline;
}
.productlist-wrap {
  display: flex;
}
.pd-img {
  overflow: hidden;
}
.pd-img img {
  width: 100%;
  display: block;
  transition: all 0.2s;
}
.pd-img:hover img {
  transform: scale(1.1);
}
.pd-info {
  padding-top: 4px;
  background-color: rgb(255, 255, 255);
}
.pd-info-list {
  padding-bottom: 10px;
  padding-left: 12px;
}
.pd-info-list > li > b {
  display: block;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.pdsell {
  color: red;
  font-weight: bold;
}
.pdprice {
  font-weight: bold;
}
